#table {
    padding-left:40px;
}

#record {
    padding-left:40px;
}

.margin-top {
    margin-top:20px;
}

.PeriodPicker {
    margin-top:20px;
    padding-right: 30px;
}

#table-page-picker {
    margin: 15px;
    margin-left: 40px;
}